<template>
  <div class="row">
    <stories></stories> 

    <div class="col-12 col-lg-5 wrapper">
      <div :class="{'row': true}">
        <div class="col-12">
          <div :class="{'content': true}">
            <div class="mb-3 add-post-title">Add Feed</div>
            <form @submit.prevent="submitForm">
              <div class="add-post-block__title text-left">
                <span>Image</span>
              </div>
              <img v-if="previewSrc !== ''" :src="previewSrc" class="preview mb-2">

              <file-select v-if="previewSrc === ''" @onChange="handleFileChange"></file-select>

              <div class="add-post-block__title text-left">
                <span>Text</span>
              </div>
              <textarea name="text" rows="5" v-model="text" class="form-control" placeholder="Your text"></textarea>

              <div class="text-center">
                <button class="upload-btn">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <profile></profile>
    <profile-mobile></profile-mobile>
  </div>
</template>

<script>
import Stories from './../Feed/Stories'
import Profile from './../shared/Profile'
import ProfileMobile from './../shared/ProfileMobile'
import httpClient from './../../utils/httpClient'
import FileSelect from './../shared/FileSelect'

export default {
  name: 'AddFeedPost',
  data: function () {
    return {
      text: '',
      media: null,
      previewSrc: '',
    }
  },
  components: {
    Stories,
    Profile,
    ProfileMobile,
    FileSelect
  },
  created () {
    console.log('created')
    this.$store.commit('setAddPostType', this.$route.params.type)
  },
  methods: {
    submitForm () {
      let fd = new FormData()
      fd.append('text', this.text)
      fd.append('media', this.image)
      httpClient.post('/some-url', fd)
      .then(res => {
        console.log(res)
      })
      .catch(e => { console.error(e) })
    },
    handleFileChange (event) {
      const input = event.target
      const reader = new FileReader()
      reader.onload = () => {
        const dataURL = reader.result
        this.previewSrc = dataURL
      }
      reader.readAsDataURL(input.files[0])
      this.image = input.files[0]
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  z-index: 200;
}

.content {
  margin-bottom: 45px;
  padding: 15px 25px 40px 25px;
}

.preview {
  max-width: 100%;
}

.add-post-title {
  margin-top: 45px;
  text-align: center;
  font-family: 'Phenomena-Bold';
  font-size: 27px;
}

.add-post-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
}

.upload-btn {
  padding: 2px 10px;
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 21px;
  border: 3px solid white;
  text-align: center;
}

</style>
