<template>
  <div class="row">
    <stories></stories> 

    <div class="col-12 col-lg-5">
      <page-under-dev section="Stories" v-if="isPopupVisible"></page-under-dev>

      <div :class="{'row': true, 'vh--100': isPopupVisible}">
        <div class="col-12">
          <stories-mobile></stories-mobile>
          <div :class="{'content': true, 'blurred': isPopupVisible}">
            <h5 class="text-center" v-if="feedLine.length === 0">Loading...</h5>
            <div class="add-button" @click="addPost('feed')">+</div>
            <transition-group name="list" tag="div">
              <div v-for="feedItem in feedLine" :key="feedItem.id" :class="{'post-pane': true, 'liked': feedItem.liked}">
                <div @click="toggleLike(feedItem)" :class="{'post-image': true}">
                  <img :src="`/mono_content/mono_feed/${feedItem.image}`" alt="Post Image">
                  <div v-if="feedItem.liked" class="liked"></div>
                  <transition name="zoomIn">
                    <div class="like-animation" v-if="itemsWithLikeInProgress.indexOf(feedItem.id) !== -1">
                      <img src="@/assets/like.svg" alt="Liked">
                    </div>
                  </transition>
                </div>
                <div class="row">
                  <div class="col-2 text-right pr-0">
                    <img @click="goToPersonal" class="post-author-img pseudo-link" :src="`/mono_content/mono_avatars/${feedItem.avatar}`" alt="Avatar">
                  </div>
                  <div class="col-6">
                    <div class="post-username pseudo-link" @click="goToPersonal">{{ feedItem.username }}</div>
                    <div class="post-text" @click="toggleTextExpanded(feedItem)">
                      {{ getText(feedItem) }}
                    </div>
                  </div>
                  <div class="col-4 post-info pl-0" @click="toggleLike(feedItem)">
                    <div class="post-info__entry">
                      <div class="row">
                        <div class="col-4 post-info__entry-img pr-0"><img src="@/assets/posts/views.svg" alt="Views"></div>
                        <div class="col-6 post-info__entry-text pl-1"><span>{{ feedItem.views }}</span></div>
                      </div>
                    </div>
                    <div class="post-info__entry">
                      <div class="row">
                        <div class="col-4 post-info__entry-img pr-0"><img src="@/assets/posts/likes.svg" alt="Likes"></div>
                        <div class="col-6 post-info__entry-text pl-1"><strong>{{ feedItem.likes }}</strong></div>
                      </div>
                    </div>
                    <div class="post-info__entry">
                      <div class="row">
                        <div class="col-4 post-info__entry-img pr-0"><img src="@/assets/posts/dollar.svg" alt="Dollar"></div>
                        <div class="col-6 post-info__entry-text pl-1"><span>{{ feedItem.invested }}</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-4 col-4">
                    <div class="text-center mt-0 pseudo-link" @click="toggleComments(feedItem)">
                      <img src="@/assets/posts/comments-more.svg" alt="More comments">
                      <img src="@/assets/posts/comments-more.svg" alt="More comments">
                      <img src="@/assets/posts/comments-more.svg" alt="More comments">
                    </div>
                  </div>
                  <div class="col-4 pl-0">
                    <div class="post-info__entry" @click="toggleComments(feedItem)">
                      <div class="row">
                        <div class="col-4 post-info__entry-img pr-0"><img src="@/assets/posts/comments.svg" alt="Comments"></div>
                        <div class="col-6 post-info__entry-text pl-1"><span style="font-family: Muller-Medium">{{ feedItem.comments.length }}</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <transition name="slide-down">
                  <div v-if="hasOpenedComments(feedItem)" class="mb-3">
                    <div class="row" v-for="comment in feedItem.comments" :key="comment.id">
                      <div class="col-2 pr-0 text-right">
                        <img class="post-author-img" :src="`/mono_content/mono_avatars/${comment.userpic}`" alt="Avatar">
                      </div>
                      <div class="col-10">
                        <div class="comment-username">{{ comment.username }}</div>
                        <div class="comment-text">{{ comment.text }}</div>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>
            </transition-group>
          </div>
        </div>
      </div>
    </div>

    <profile></profile>
    <profile-mobile></profile-mobile>
  </div>
</template>

<script>
import Stories from './Stories'
import StoriesMobile from './StoriesMobile'
import Profile from './../shared/Profile'
import ProfileMobile from './../shared/ProfileMobile'
import httpClient from './../../utils/httpClient'
import { isScrolledToBottom } from './../../utils/window'
import PageUnderDev from './../shared/PageUnderDev'

export default {
  name: 'Feed',
  data: function () {
    return {
      likesCounter: 0,
      itemsWithCommentsOpened: [],
      itemsWithTextExpanded: [],
      feedLine: [],
      likeTimers: [],
      scrolledToBottom: false,
      offsetCounter: 0,
      itemsWithLikeInProgress: []
    }
  },
  created () {
    this.$store.commit('hidePopup')
    this.$store.commit('mobileHideProfile')
    this.$store.commit('disableLikeFilter', 'feed')
    this.fetchData()
    window.addEventListener('scroll', this.onScroll)
    setInterval(this.fetchRandomPost, 30000)
  },
  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
      this.scrolledToBottom = isScrolledToBottom()
    },
    fetchData (offset = 0, liked = false) {
      const likeStr = liked ? '1' : '0'
      httpClient.get(`/feed?offset=${offset}&liked=${likeStr}`)
      .then(res => {
        if (res.status === 200) {
          this.insertItems(res.data)
        }
      })
      .catch(err => console.error(err))
    },
    insertItems (items) {
      if (this.offsetCounter !== 0) {
        this.feedLine = this.feedLine.concat(items)
      } else {
        this.feedLine = items
      }
    },
    toggleComments (item) {
      const idx = this.itemsWithCommentsOpened.findIndex(x => x === item.id)
      if (idx !== -1) {
        this.itemsWithCommentsOpened.splice(idx, 1)
      } else {
        this.itemsWithCommentsOpened.push(item.id)
      }
    },
    hasOpenedComments (item) {
      const idx = this.itemsWithCommentsOpened.findIndex(x => x === item.id)
      return idx !== -1
    },
    getText (item, number = 70) {
      if (this.hasTextExpanded(item)) {
        return item.text
      }
      return this.hasOpenedComments(item)
         ? item.text
         : item.text.substring(0, number) + '...'
    },
    hasTextExpanded (item) {
      const idx = this.itemsWithTextExpanded.findIndex(x => x === item.id)
      return idx !== -1
    },
    toggleTextExpanded (item) {
      const idx = this.itemsWithTextExpanded.findIndex(x => x === item.id)
      if (idx !== -1) {
        this.itemsWithTextExpanded.splice(idx, 1)
      } else {
        this.itemsWithTextExpanded.push(item.id)
      }
    },
    toggleLike (item) {
      if (this.likeTimers.indexOf(item.id) !== -1) {
        const idx = this.feedLine.findIndex(x => x.id === item.id)
        let feedItem = this.feedLine[idx]
        const isLiked = feedItem.liked
        if (isLiked) {
          feedItem.likes = +feedItem.likes - 1
          this.$store.commit('setLikesCounter', this.$store.state.likesCounter - 1)
        } else {
          feedItem.likes = +feedItem.likes + 1
          this.$store.commit('setLikesCounter', this.$store.state.likesCounter + 1)
          this.itemsWithLikeInProgress.push(item.id)
          setTimeout(() => { 
            this.itemsWithLikeInProgress.splice(this.itemsWithLikeInProgress.indexOf(item.id), 1)  
          }, 1000)
        }
        feedItem.liked = !isLiked
      } else {
        this.likeTimers.push(item.id)
        setTimeout(() => {
          this.likeTimers.splice(this.likeTimers.indexOf(item.id), 1)
        }, 300)
      }
    },
    goToPersonal () {
      this.$router.push('/', () => {
        this.$store.commit('setHomeGender', 0)
      })
    },
    fetchRandomPost () {
      httpClient.get(`/feed?random=1`)
      .then(res => {
        if (res.status === 200) {
          this.feedLine = res.data.concat(this.feedLine)
        }
      })
      .catch(err => console.error(err))
    },
    addPost (type) {
      this.$router.push(`/add/${type}`)
    }
  },
  filters: {
    truncate (string, number) {
      return string.substring(0, number) + '...'
    }
  },
  components: {
    Stories,
    StoriesMobile,
    Profile,
    ProfileMobile,
    PageUnderDev
  },
  computed: {
    likedOnly () {
      return this.$store.state.likeFilter.feed
    },
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    }
  },
  watch: {
    scrolledToBottom (newVal) {
      if (newVal) {
        this.offsetCounter += 1
        this.fetchData(this.offsetCounter, this.likedOnly)
      }
    },
    likedOnly (newVal) {
      this.offsetCounter = 0
      this.fetchData(this.offsetCounter, newVal)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.slide-down-enter-active {
  transition: all .3s ease;
}
/* .slide-down-leave-active {
  transition: all .1s ease;
} */
.slide-down-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.content {
  padding-top: 0;
  padding-bottom: 60px;
  margin-top: 10px;
}

@media (min-width: 992px) { 
  .content {
    padding-top: 45px;
  }
}

.post-pane {
  border-radius: 21px;
  background-color: #ffffff;
  /* padding: 40px; */
  padding-bottom: .5rem;
  margin-bottom: 1.4rem;
  box-shadow: 0 0 9px 0 #ffffff;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.post-image {
  border-radius: 19px;
   position: relative;
   user-select: none;
}

.post-image > .liked {
    /* background-image: radial-gradient(circle at 50% 8%, #ff5c5c, #5300ff); */
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 7px #5300ff;
    border-radius: 16px;
    top: 0;
    left: 0;
    user-select: none;
}

.post-image > img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 16px;
  position: relative;
  /* border: 7px solid transparent; */
}

.post-author-img {
  width: 25px;
  height: 25px;
  margin-top: 1rem;
  border-radius: 50%;
}

.post-username {
  font-family: Muller-Bold;
  margin-top: 1.3rem;
  margin-bottom: .6rem;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.post-text {
  font-family: Muller-Medium;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-username {
    font-size: 16px;
  }

  .post-text {
    font-size: 13px;
  }
}

.post-info {
  font-family: Muller-Medium;
  padding-top: .8rem;
}

.post-info__entry {
  vertical-align: middle;
  margin-bottom: .4rem;
}

.post-info__entry-img {
  text-align: center;
}

.post-info__entry-img > img {
  max-height: 13px;
}

.post-info__entry-text {
  padding-top: .15rem;
  font-size: 13px;
}

.post-more-comments {
  margin-top: -3px;
}

.comment-username {
  font-family: Muller-Bold;
  margin-top: 12px;
  margin-bottom: .3rem;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.comment-text {
  font-family: Muller-Medium;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.zoomIn-enter-active {
  animation: zoomIn .5s;
}
.zoomIn-leave-active {
  animation: zoomIn .5s reverse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.list-move {
  transition: transform 1s;
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.add-button {
  background-color: greenyellow;
  border: 2px solid red;
  color: black;
}
</style>
