<template>
  <div class="d-none d-lg-block col-12 col-lg">
    <div class="content sticky-top">
      <p class="caption">Stories</p>

      <div v-for="(account, index) in accounts" :key="account.id" class="account-pane">
        <div class="row">
          <div class="col-5 image-cell">
            <div class="image-cell-wrapper">
              <img class="pseudo-link" :src="account.img" style="max-width: 100%;" @click="openPopup">
            </div>
          </div>
          <div class="col-7 pl-0">
            <div class="last-seen">{{ calcTimeAgo(index) }}</div>
            <div class="username">noramindson</div>
            <div>
              <img src="@/assets/stories/stars-5.svg" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
const srcAccounts = [
  { id: 11, img: '/mono_content/mono_avatars/46w.jpg', name: 'kathiefreddie' },
  { id: 12, img: '/mono_content/mono_avatars/47w.jpg', name: 'daphnereilly' },
  { id: 13, img: '/mono_content/mono_avatars/48m.jpg', name: 'vinalkyler' },
  { id: 14, img: '/mono_content/mono_avatars/49w.jpg', name: 'aliseabigail' },
  { id: 15, img: '/mono_content/mono_avatars/50w.jpg', name: 'kassieunique' },
  { id: 16, img: '/mono_content/mono_avatars/45m.jpg', name: 'natanielbrion' },
  { id: 17, img: '/mono_content/mono_avatars/44w.jpg', name: 'daniella' },
  { id: 18, img: '/mono_content/mono_avatars/43w.jpg', name: 'patriciawheel' },
  { id: 19, img: '/mono_content/mono_avatars/42w.jpg', name: 'elinorerobin' },
  { id: 20, img: '/mono_content/mono_avatars/36m.jpg', name: 'stewardhaylan' },
  { id: 21, img: '/mono_content/mono_avatars/37w.jpg', name: 'marniesalome' },
  { id: 22, img: '/mono_content/mono_avatars/41w.jpg', name: 'aletatricia' },
  { id: 23, img: '/mono_content/mono_avatars/42w.jpg', name: 'jolenedella' },
  { id: 24, img: '/mono_content/mono_avatars/31m.jpg', name: 'zacharian' },
  { id: 25, img: '/mono_content/mono_avatars/32m.jpg', name: 'lannyscott' },
  { id: 110, img: '/mono_content/mono_avatars/01w.jpg', name: 'katewilson' },
  { id: 120, img: '/mono_content/mono_avatars/02m.jpg', name: 'kristaleola' },
  { id: 130, img: '/mono_content/mono_avatars/03w.jpg', name: 'elizabethtiana' },
  { id: 140, img: '/mono_content/mono_avatars/33w.jpg', name: 'traciejakie' },
  { id: 150, img: '/mono_content/mono_avatars/29w.jpg', name: 'joiseelila' },
  { id: 160, img: '/mono_content/mono_avatars/25w.jpg', name: 'marianell' },
  { id: 170, img: '/mono_content/mono_avatars/24w.jpg', name: 'letaloretta' },
  { id: 180, img: '/mono_content/mono_avatars/23w.jpg', name: 'marleensapphire' },
  { id: 190, img: '/mono_content/mono_avatars/22w.jpg', name: 'marylinnluna' },
  { id: 200, img: '/mono_content/mono_avatars/21w.jpg', name: 'lexiangie' },
  { id: 210, img: '/mono_content/mono_avatars/20w.jpg', name: 'zenakylie' },
  { id: 220, img: '/mono_content/mono_avatars/19m.jpg', name: 'daveogloe' },
  { id: 230, img: '/mono_content/mono_avatars/17w.jpg', name: 'alissarandy' },
  { id: 240, img: '/mono_content/mono_avatars/16w.jpg', name: 'patronquille' },
  { id: 250, img: '/mono_content/mono_avatars/15w.jpg', name: 'edietoria' },
]

function shuffle(a) {
    for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
}

export default {
  name: 'Stories',
  data: function () {
    return {
      accounts: []
    }
  },
  created () {
    this.accounts = shuffle([].concat(srcAccounts))
  },
  methods: {
    openPopup () {
      this.$store.commit('showPopup')
    },
    calcTimeAgo (index) {
      if (index === 0) {
        return 'just now'
      } else {
        return index + 1 + ' mins ago'
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 620px;
  border-radius: 29px;
  background-image: radial-gradient(circle at 100% 0, #f8838d, #8246fe);
  box-shadow: 0 0 43px 0 rgba(255, 255, 255, 0.5);
  padding: 55px 25px 25px 25px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}

.caption {
  font-family: Phenomena;
  width: 64px;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.account-pane {
  padding: 9px 11px;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: .4rem;
}

.last-seen {
  font-family: Muller;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.image-cell {
  /* padding: 0; */
}

.image-cell-wrapper {
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: red; 
  height: 80px; 
  width: 80px;
  border-radius: 50%;
  background-image: linear-gradient(26deg, #ff5c5c, #5300ff);
}

.image-cell-wrapper.read {
  background-image: linear-gradient(26deg, #fdabae, #ad82fa);
}

.image-cell-wrapper > img {
  height: 74px;
  width: 74px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
}
</style>
