<template>
  <div class="row d-block d-lg-none sticky-top wrapper">
    <div :class="{' col-12 ': true, 'blurred': isPopupVisible}" id="stories-wrapper">
      <div class="row">
        <div class="col-12 main-line">
          <div class="title">Stories</div>
          <div class="inner">
            <table style="direction: ltr;">
              <transition-group name="slide-fade" tag="tr"
                v-on:after-leave="onTransitionAfterLeave">
                <td v-for="(account, index) in accounts" :key="account.id" @click="openPopup">
                  <div :class="{'account-pane': true, 'in': account.id === activeProfileId,
                  'account-pane__last': index === accounts.length - 1}">
                    <table>
                      <tr>
                        <td class="image-cell">
                          <div class="image-cell-wrapper">
                            <img draggable="false" :src="account.img">
                          </div>
                        </td>
                        <td class="content-cell">
                          <div :class="{'collapsible': true, 'in': account.id === activeProfileId}" :id="account.id">
                            <div class="last-seen">{{ calcTimeAgo(index) }}</div>
                            <div class="username">{{ account.name }}</div>
                            <div class="rating">
                              <img v-show="account.id % 3 === 0" src="@/assets/stories/stars-5.svg">
                              <img v-show="account.id % 3 !== 0" src="@/assets/stories/stars-4.svg">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </transition-group>
            </table>
          </div>
        </div>
        <div :class="{ 'col-12 likes-line': true, 'active': isLikeFilterActive }" @click="toggleLikeFilter">
          <div class="row">
            <div class="col-4 like-line__item">Liked</div>
            <div class="col-4 like-line__item text-center">{{ likesCounter }}</div>
            <div class="col-4 like-line__item text-right">
              <div style="margin-top: -2px;">
                <img v-if="likesCounter < 200" src="@/assets/shared/2-star.svg">
                <img v-if="likesCounter >= 200" src="@/assets/shared/3-star.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swipe from './../../utils/swipe'

const srcAccounts = [
  { id: 11, img: '/mono_content/mono_avatars/46w.jpg', name: 'kathiefreddie' },
  { id: 12, img: '/mono_content/mono_avatars/47w.jpg', name: 'daphnereilly' },
  { id: 13, img: '/mono_content/mono_avatars/48m.jpg', name: 'vinalkyler' },
  { id: 14, img: '/mono_content/mono_avatars/49w.jpg', name: 'aliseabigail' },
  { id: 15, img: '/mono_content/mono_avatars/50w.jpg', name: 'kassieunique' },
  { id: 16, img: '/mono_content/mono_avatars/45m.jpg', name: 'natanielbrion' },
  { id: 17, img: '/mono_content/mono_avatars/44w.jpg', name: 'daniella' },
  { id: 18, img: '/mono_content/mono_avatars/43w.jpg', name: 'patriciawheel' },
  { id: 19, img: '/mono_content/mono_avatars/42w.jpg', name: 'elinorerobin' },
  { id: 20, img: '/mono_content/mono_avatars/36m.jpg', name: 'stewardhaylan' },
  { id: 21, img: '/mono_content/mono_avatars/37w.jpg', name: 'marniesalome' },
  { id: 22, img: '/mono_content/mono_avatars/41w.jpg', name: 'aletatricia' },
  { id: 23, img: '/mono_content/mono_avatars/42w.jpg', name: 'jolenedella' },
  { id: 24, img: '/mono_content/mono_avatars/31m.jpg', name: 'zacharian' },
  { id: 25, img: '/mono_content/mono_avatars/32m.jpg', name: 'lannyscott' },
  { id: 110, img: '/mono_content/mono_avatars/01w.jpg', name: 'katewilson' },
  { id: 120, img: '/mono_content/mono_avatars/02m.jpg', name: 'kristaleola' },
  { id: 130, img: '/mono_content/mono_avatars/03w.jpg', name: 'elizabethtiana' },
  { id: 140, img: '/mono_content/mono_avatars/33w.jpg', name: 'traciejakie' },
  { id: 150, img: '/mono_content/mono_avatars/29w.jpg', name: 'joiseelila' },
  { id: 160, img: '/mono_content/mono_avatars/25w.jpg', name: 'marianell' },
  { id: 170, img: '/mono_content/mono_avatars/24w.jpg', name: 'letaloretta' },
  { id: 180, img: '/mono_content/mono_avatars/23w.jpg', name: 'marleensapphire' },
  { id: 190, img: '/mono_content/mono_avatars/22w.jpg', name: 'marylinnluna' },
  { id: 200, img: '/mono_content/mono_avatars/21w.jpg', name: 'lexiangie' },
  { id: 210, img: '/mono_content/mono_avatars/20w.jpg', name: 'zenakylie' },
  { id: 220, img: '/mono_content/mono_avatars/19m.jpg', name: 'daveogloe' },
  { id: 230, img: '/mono_content/mono_avatars/17w.jpg', name: 'alissarandy' },
  { id: 240, img: '/mono_content/mono_avatars/16w.jpg', name: 'patronquille' },
  { id: 250, img: '/mono_content/mono_avatars/15w.jpg', name: 'edietoria' },
]

function shuffle(a) {
    for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
}

export default {
  name: 'StoriesMobile',
  mounted: function () {
    var vm = this
    var swiper = new Swipe('#stories-wrapper')
    swiper.onLeft(function () {
      if (vm.popedAccounts.length) {
        const acc = vm.popedAccounts.pop()
        vm.accounts.push(acc)
        vm.activeProfileId = acc.id
      }
    })
    swiper.onRight(function () { 
      if (vm.accounts.length) {
        const acc = vm.accounts.pop()
        vm.popedAccounts.push(acc)
      }
    })
    swiper.onUp(function () {})
    swiper.onDown(function () {})
    swiper.run()
  },
  data: function () {
    return {
      popedAccounts: [],
      activeProfileId: srcAccounts[4],
      accounts: []
    }
  },
  computed: {
    likesCounter () { return this.$store.state.likesCounter },
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    isLikeFilterActive () {
      return this.$store.state.likeFilter['feed']
    }
  },
  created () {
    this.accounts = shuffle([].concat(srcAccounts))
  },
  methods: {
    onTransitionAfterLeave: function () {
      const vm = this
      if (vm.accounts[vm.accounts.length - 1]) {
        vm.activeProfileId = vm.accounts[vm.accounts.length - 1].id
      } else {
        vm.activeProfileId = null
      }
    },
    toggleLikeFilter () {
      this.$store.commit('toggleLikeFilter', 'feed')
    },
    openPopup () {
      this.$store.commit('showPopup')
    },
    calcTimeAgo (index) {
      if (srcAccounts.length - 1 === index) {
        return 'just now'
      } else {
        return srcAccounts.length - index + ' mins ago'
      }
    }
  }
}
</script>

<style scoped>

.list-item {
  display: inline-block;
  margin-right: 10px;
} 

.slide-fade-enter-active {
  transition: all 500ms ease;
}
.slide-fade-leave-active {
  transition: all 300ms ease;
  /* transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(200px);
  opacity: 0;
}


.collapsible {
  /* -webkit-transition: width 100ms; */
  /* transition: width 100ms; */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 30px; 
  width: 100px;
  /* width: 0px; */
}

.collapsible.in {
    width: 100px;
    /* width: auto; */
}

.wrapper {
  z-index: 100;
  padding-top: 0;
  margin-top: 44px;
  top: 44px;
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  user-select: none;
  cursor: pointer;
}

.main-line {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
}

.likes-line {
  background-image: radial-gradient(circle at 50% 0, #f8838d, #8246fe);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
  color: white;
  font-family: Muller-Medium;
  font-size: 1.1rem;
  height: 33px; 
}

.likes-line.active {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.5);
}

.like-line__item {
  height: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

.inner {
  padding-bottom: .5rem;
  padding-right: .7rem;
  width: 100vw;
  margin-left: -15px;
  position: relative;
  direction: rtl;
  overflow: hidden;
}

.title {
  font-family: Muller-Medium;
  color: white;
  font-size: 1.1rem;
  margin-top: .3rem;
  margin-bottom: -2px;
}

.account-pane {
  border-bottom-left-radius: 1rem;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 11px 0 rgba(87, 2, 251, 0.5), 0 0 1px 0 #5300ff;
  margin-bottom: 0;
  /* width: 188px; */
  padding: 6px 8px;
  height: 74px;
  /* transition: margin 300ms; */
  margin-left: -37px;
  margin-left: -115px;
  position: relative;
}

.last-seen {
  font-family: Muller;
  font-size: 11.4px;
  line-height: 16px;
}

.username {
  font-family: Muller-Bold;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 6px;
  line-height: 14px;
}

.rating {
  margin-top: -10px;
}

.rating > img {
  max-height: 10px;
}

.image-cell {
  padding: 0;
}

.image-cell-wrapper {
  margin-top: -3px;
  background-color: red; 
  height: 62px; 
  width: 62px;
  border-radius: 50%;
  background-image: linear-gradient(26deg, #ff5c5c, #5300ff);
}

.image-cell-wrapper.read {
  background-image: linear-gradient(26deg, #fdabae, #ad82fa);
}

.image-cell-wrapper > img {
  height: 56px;
  width: 56px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
}

.content-cell {
  padding-left: .8rem;
  padding-right: .1rem;
  min-width: 35px;
}
</style>
