<template>
  <label class="file-select">
    <div class="select-button d-flex justify-content-center align-items-center">
      <span>Tap here to select image</span>
    </div>
    <input type="file" @change="onChange"/>
  </label>
</template>

<script>
export default {
  props: {
    value: File
  },
  methods: {
    onChange (e) {
      this.$emit('onChange', e)
    }
  }
}
</script>

<style scoped>

.file-select {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.file-select > .select-button {
  padding: 2px 10px;
  color: black;
  background-color: transparent;
  border-radius: 21px;
  border: 2px dashed white;
  color: white;
  text-align: center;
  width: 100%;
  height: 100px;
}

.file-select > input[type="file"] {
  display: none;
}
</style>
