<template>
  <div class="wrapper">
    <!-- desktop -->
    <div class="desktop d-none d-lg-block container">
      <div class="text-center inner">
        <div class="row">
          <div class="col">
            <div class="left-arrow-wrapper">
              <img src="@/assets/footer/arrow-left.svg" alt="Left arrow" class="left-arrow">
            </div>
          </div>
          <div class="col-9">
            <ul class="list-inline mb-0 text-left" :style="{ marginLeft: footerML + '%', height: '100%', 'transition': 'margin 150ms' }">
              <li :class="{'list-inline-item': true, 'link': true, 'active': isActiveLink(link.name)}" v-for="link in links" :key="link.url">
                <router-link :to="link.url">{{link.title}}</router-link>
                <img v-if="isActiveLink(link.name)" class="active-link-bottom-border" src="@/assets/footer/active-link.svg" alt="Active link">
              </li>              
            </ul>
          </div>
          <div class="col text-right">
            <div class="right-arrow-wrapper">
              <img src="@/assets/footer/arrow-right.svg" alt="Right arrow" class="right-arrow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-block d-lg-none mobile" id="footer-mobile-wrapper">
      <div class="text-center inner">
        <div class="row">
          <div class="col">
            <div class="left-arrow-wrapper" @click="goPrev">
              <img src="@/assets/footer/arrow-left.svg" alt="Left arrow" class="left-arrow">
            </div>
          </div>
          <div :class="{'col-8': true, 'text-center': true, 'faded': isExpandedVisible}">
            <ul class="list-inline mb-0" style="height: 100%;">
              <li class="list-inline-item link active">
                <a @click="openFeedSelect">{{ currentRoute.meta.title }}</a>
                <img class="active-link-bottom-border" src="@/assets/footer/active-link.svg" alt="Active link">
              </li>
            </ul>
          </div>
          <div class="col text-right" @click="goNext">
            <div class="right-arrow-wrapper">
              <img src="@/assets/footer/arrow-right.svg" alt="Right arrow" class="right-arrow">
            </div>
          </div>
        </div>
      </div>

      <div class="feed-select text-center" v-if="isExpandedVisible">
        <div class="feed-select__link" v-for="link in links" @click="goTo(link.url)" :key="link.name">
          <a :class="{active: isActiveLink(link.name)}">{{ link.title }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swipe from './../../utils/swipe'

export default {
  name: 'FooterBlock',
  methods: {
    isActiveLink: function (name) {
      return (this.currentRoute.name === name)
    },
    updateCurrentRoute: function () {
      this.currentRoute = this.$router.currentRoute
    },
    goTo: function (url) {
      console.log(url)
      this.$router.push(url)
      this.$store.commit('mobileHideExpandedFooter')
    },
    goNext: function () {
      var vm = this
      const currentRoute = vm.$router.currentRoute.name
      if (currentRoute === 'addFeedPost') {
        vm.$router.push('/feed')
        return
      }
      if (['login', 'register'].indexOf(currentRoute) !== -1) {
        vm.$router.push('/feed')
        return
      }
      const idx = vm.links.findIndex(x => x.name === currentRoute)
      if (idx === vm.links.length - 1) {
        vm.$router.push(vm.links[0].url)
      } else {
        vm.$router.push(vm.links[idx + 1].url)
      }
    },
    goPrev: function () {
      const vm = this
      const currentRoute = vm.$router.currentRoute.name
      if (currentRoute === 'addFeedPost') {
        vm.$router.push('/feed')
        return
      }
      if (['login', 'register'].indexOf(currentRoute) !== -1) {
        vm.$router.push('/feed')
        return
      }
      const idx = vm.links.findIndex(x => x.name === currentRoute)
      if (idx === 0) {
        vm.$router.push(vm.links[vm.links.length - 1].url)
      } else {
        vm.$router.push(vm.links[idx - 1].url)
      }
    },
    openFeedSelect: function () {
      if (!this.$store.state.mobile.isExpandedFooterVisible) {
        this.$store.commit('mobileShowExpandedFooter')
      }
    },
    closeFeedSelect: function () {
      this.$store.commit('mobileHideExpandedFooter')
    }
  },
  mounted: function () {
    var vm = this
    var swiper = new Swipe('#footer-mobile-wrapper')
    swiper.onLeft(vm.goNext)
    swiper.onRight(vm.goPrev)
    swiper.onUp(vm.openFeedSelect)
    swiper.onDown(vm.closeFeedSelect)
    swiper.run()
  },
  watch: {
    '$route': 'updateCurrentRoute'
  },
  data: function () {
    return {
      currentRoute: this.$router.currentRoute,
      links: [
        { url: '/', title: 'Profile', name: 'home' },
        { url: '/feed', title: 'Feed', name: 'feed' },
        { url: '/top', title: 'Top content', name: 'top' },
        { url: '/investment', title: 'Investment', name: 'investment' },
        { url: '/charity', title: 'Charity', name: 'charity' },
      ]
    }
  },
  computed: {
    activeLinkTitle: function () {
      return this.$store.state.mobile.isProfileVisible
        ? 'Profile'
        : this.links.find(x => x.name === this.$router.currentRoute.name).title
    },
    footerML: function () {
      switch (this.currentRoute.name) {
        case 'home': return '45';
        case 'feed': return '37';
        case 'top': return '25';
        case 'investment': return '10';
        case 'charity': return '-3';
        default: return '0';
      }
    },
    isExpandedVisible: function () {
      return this.$store.state.mobile.isExpandedFooterVisible
    }
  }
}
</script>

<style scoped>

.wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.desktop > .inner {
  height: 45px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: radial-gradient(circle at 50% 0, #5200ff, #f0536a);
  box-shadow: 0 0 24px 0 #ffffff;
  padding-top: .35rem;
  margin-top: 0;
}

.mobile > .inner {
  height: 45px;
  background-image: radial-gradient(circle at 50% 0, #5200ff, #f0536a);
  box-shadow: 0 0 24px 0 #ffffff;
  padding-top: .35rem;
  margin-top: 0;
  user-select: none;
  cursor: pointer;
}

.link {
  opacity: 0.5;
  margin-top: -5px;
  font-family: Phenomena, sans-serif;
  font-size: 1.85rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: .7rem;
  margin-right: .7rem;
  color: white;
}

.link.active {
  opacity: 1;
  position: relative;
  color: white;
  font-family: Phenomena-Bold;
}

.link.active:visited,
.link.active:focus,
.link.active:hover,
.link.active:active {
  color: white;
}

.link > a {
  color: white;
  vertical-align: middle;
  text-decoration: none;
}

.logo-icon {
  object-fit: contain;
}

.logo-title {
  margin-top: -10px;
  margin-right: -50px;
  margin-left: -50px;
}

.logo-beta {
  margin-top: -10px;
}

.active-link-bottom-border {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  margin-top: 34px;
}

.left-arrow-wrapper {
  width: 34px;
  height: 34px;
  margin-top: .15rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: radial-gradient(circle at 100% 50%, #f0536a, #a029b7);
}

.left-arrow-wrapper > img {
  margin-top: 6px;
}

.right-arrow-wrapper {
  width: 34px;
  height: 34px;
  margin-top: .15rem;
  border-top-left-radius: 25.5px;
  border-bottom-left-radius: 25.5px;
  background-image: radial-gradient(circle at 0 50%, #f0536a, #a029b7);
  float: right;
}

.right-arrow-wrapper > img {
  margin-top: 6px;
}

.left-arrow {
  margin-top: .6rem;
  margin-left: 0;
}

.right-arrow {
  margin-top: .6rem;
  margin-right: .8rem;
}

.feed-select {
  background-image: radial-gradient(circle at 50% 100%, #894efd, #f0536a);
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.feed-select__link {
  color: white;
  font-family: Phenomena;
  padding-top: 2px;
  padding-bottom: 2px;
}

.feed-select__link > a {
  color: white;
  font-size: 27px;
}

.feed-select__link > a.active {
  opacity: 0.3;
}

.faded {
  opacity: .3;
}
</style>
