<template>
  <div class="wrapper">
    <!-- desktop -->
    <div class="container desktop d-none d-lg-block">
      <div class="inner">
        <div class="row">
          <div class="col">
            <div class="back-arrow" @click="hidePopup" v-if="isPopupOpened">
              <img src="@/assets/back.svg" alt="Back">
            </div>
          </div>
          <div class="col-8 text-center">
            <img class="logo-icon" @click="openMonoretoCom" src="@/assets/header/mono_logo.png" alt="Logo">
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="mobile d-block d-lg-none">
      <div class="row inner">
        <div class="col">
          <div class="back-arrow" @click="hidePopup" v-if="isPopupOpened">
            <img src="@/assets/back.svg" alt="Back">
          </div>
        </div>
        <div class="col-8">
          <div class="text-center">
            <img class="logo-icon" @click="openMonoretoCom" src="@/assets/header/mono_logo.png" alt="Logo">
          </div>
        </div>
        <div class="col pl-0">
          <div style="height: 100%;" class="text-right" @click="toggleProfile">
            <img style="height: 100%; cursor: pointer;" v-if="!isProfileMobileVisible" src="@/assets/wallet_.svg" alt="Wallet">
            <img style="height: 32px; margin-right: 6px; margin-top: 6px; cursor: pointer;" v-if="isProfileMobileVisible" src="@/assets/wallet_open.svg" alt="Wallet opened">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderBlock',
  methods: {
    hidePopup () {
      this.$store.commit('hidePopup')
    },
    toggleProfile () {
      if (this.$store.state.mobile.isProfileVisible) {
        this.$store.commit('mobileHideProfile')
      } else {
        this.$store.commit('mobileShowProfile') 
      }
    },
    openMonoretoCom () {
      window.open('http://monoreto.com/', '_blank')
    }
  },
  computed: {
    isPopupOpened () {
      return this.$store.state.isPopupOpened
    },
    isProfileMobileVisible: function () {
      return this.$store.state.mobile.isProfileVisible
    }
  }
}
</script>

<style scoped>
.wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.desktop > .inner {
  height: 45px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  background-image: radial-gradient(circle at 50% 100%, #ff5c5c, #5300ff);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}

.mobile > .inner {
  height: 45px;
  background-image: radial-gradient(circle at 50% 100%, #ff5c5c, #5300ff);
  box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  vertical-align: middle;
}

.logo-icon {
  object-fit: contain;
  margin-top: 7px;
  max-height: 30px;
  cursor: pointer;
}

.back-arrow {
  padding-top: 9px;
  padding-left: 5px;
}
</style>
