<template>
  <div class="row">
    <stories></stories> 

    <div class="col-12 col-lg-5 wrapper">
      <div :class="{'row': true}">
        <div class="col-12">
          <div :class="{'content': true}">
            <div class="mb-3 section-title">Login</div>
            <form @submit.prevent="submitForm">
              
              <div class="section-block__title text-left">
                <span>E-mail</span>
              </div>
              <input type="email" v-model="email" class="form-control" />

              <div class="section-block__title text-left">
                <span>Password</span>
              </div>
              <input type="password" v-model="password" class="form-control" />

              <div class="text-center">
                <button class="submit-btn">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <profile></profile>
    <profile-mobile></profile-mobile>
  </div>
</template>

<script>
import Stories from './../Feed/Stories'
import Profile from './../shared/Profile'
import ProfileMobile from './../shared/ProfileMobile'
import httpClient from './../../utils/httpClient'

export default {
  name: 'Register',
  data: function () {
    return {
      email: '',
      password: ''
    }
  },
  components: {
    Stories,
    Profile,
    ProfileMobile
  },
  methods: {
    submitForm () {
      let fd = new FormData()
      fd.append('email', this.email)
      fd.append('password', this.password)
      httpClient.post('/login', fd)
      .then(res => {
        console.log(res)
      })
      .catch(e => { console.error(e) })
    }
  }
}
</script>

<style scoped>
.wrapper {
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  z-index: 200;
}

.content {
  margin-bottom: 45px;
  padding: 15px 25px 40px 25px;
}

.section-title {
  margin-top: 45px;
  text-align: center;
  font-family: 'Phenomena-Bold';
  font-size: 27px;
}

.section-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn {
  padding: 2px 10px;
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 21px;
  border: 3px solid white;
  text-align: center;
}

</style>
