<template>
  <div class="row popup sticky-top">
    <div class="col-12 ml-0 mr-0" >
      <div class="" style="height: 100%;" @click="setFocusOnInput">
        <div style="height: 28%;"></div>
        <div class="text-center">
          <div class="title">{{ section }}</div>
          <div class="subtitle">are in development</div>
        </div>
        <div class="text-center">
          <div class="create-acc-teaser">Create your own account<br/>and be among the first users</div>
        </div>
        <div class="create-account-block">
          <div class="create-account-block__title text-left">
            <span v-if="!formSubmitted">Create your own account</span>
            <span v-if="formSubmitted">Account was created</span>
          </div>
          <form @submit.prevent="submitForm" v-if="!formSubmitted">
            <input ref="underDevInput" class="form-control create-account-block__input" type="email" placeholder="e-mail" v-model="accEmail">
          </form>
          <div class="create-account-block__subtitle" v-if="formSubmitted">Testing will begin soon.<br/>Stay tuned. :)</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageUnderDev',
  props: ['section'],
  data () {
    return {
      accEmail: ''
    }
  },
  methods: {
    submitForm () {
      if (this.validEmail(this.accEmail)) {
        this.$store.commit('setCreateAccFormSubmitted', this.accEmail)
      } else {
        alert('Not a valid E-mail')
      }
    },
    validEmail (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    setFocusOnInput () {
      this.$refs.underDevInput.focus()
    }
  },
  computed: {
    formSubmitted () {
      return this.$store.state.createAccFormSubmitted
    }
  }
}
</script>


<style scoped>
.create-account-block {
  /* margin-top: -40px; */
  background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
  box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
  padding: 15px 25px 40px 25px;
  font-family: Muller-Medium;
  color: white;
  font-size: 16px;

  position: fixed;
  width: 100%;
  bottom: 45px;
  left: 0; right: 0;
  z-index: 100;
  opacity: 1;
}

@media (min-width: 768px) {
  .create-account-block {
    /* margin-top: -40px; */
    background-image: radial-gradient(circle at 50% 0, #ff5c5c, #5300ff);
    box-shadow: 0 0 31px 0 rgba(255, 255, 255, 0.5);
    padding: 15px 25px 40px 25px;
    font-family: Muller-Medium;
    color: white;
    font-size: 16px;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

.create-account-block__title {
  margin-bottom: .3rem;
  font-size: 16px;
}

.create-account-block__input {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
}

.create-account-block__input::-webkit-input-placeholder, 
.create-account-block__input::-moz-placeholder,
.create-account-block__input:-ms-input-placeholder,
.create-account-block__input:-moz-placeholder {
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

.popup {
  z-index: 110;
  height: calc(100vh - 90px);
  top: 45px;
} 

.popup:after {
  content: '';
  opacity: 0.93;
  background-image: radial-gradient(circle at 50% 80%, #ff5c5c, #5300ff);
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.title {
  color: white;
  font-family: Muller-Medium;
  font-size: 23px;
  line-height: 27px;
}

.subtitle {
  color: white;
  font-family: Muller-Medium;
  font-size: 19px;
  margin-top: 6px;
  line-height: 27px;
}

.create-acc-teaser {
  color: white;
  font-family: Muller-Medium-Italic;
  margin-top: 15%;
  font-size: 19px;
}
</style>

