<template>
  <div class="col-12 col-lg d-none d-lg-block">
    <div class="wrapper sticky-top">
      <div class="content">
        <p class="caption">Wallet</p>
        <div class="info-pane" @click="goToPersonal">
          <div class="row">
            <div class="col-4 pr-0">
              <img src="@/assets/profile/empty-avatar.svg" style="max-width: 100%;">
            </div>
            <div class="col-6">
              <div class="avatar-name">demo account</div>
              <div class="avatar-login">monoreto</div>
              <div class="avatar-status font-purple">verified</div>
            </div>
          </div>
        </div>
        <div class="info-pane pane-rank">
          <div class="row">
            <div class="col-4 pr-0 font-purple font-bold text-right">
              total rank
            </div>
            <div class="col-6"><img class="stars-img" src="@/assets/profile/rank-2-stars.svg"></div>
            <div class="col-2"></div>
            <div class="col-4 text-right pr-0">
              <div>liked</div>
              <div v-if="isRankDescVisible">
                <div>invested</div>
                <div>donated</div>
                <div>posts</div>
              </div>
            </div>
            <div class="col-7">
              <div><img class="mr-2 stars-img" src="@/assets/rank-2-stars.svg"> {{ likesCounter }}</div>
              <div v-if="isRankDescVisible">
                <div><img class="mr-2 stars-img" src="@/assets/rank-2-stars.svg"> {{ investedCounter }}</div>
                <div><img class="mr-2 stars-img" src="@/assets/rank-2-stars.svg"> {{ donatedCounter }}</div>
                <div><img class="mr-2 stars-img" src="@/assets/rank-2-stars.svg"> 376</div>
              </div>
            </div>
            <div :class="{'col-1 pl-0 text-right align-self-end mb-2': true, 'with-opacity': isRankDescVisible}" @click="toggleRankDesc">
              <div class="row pseudo-link">
                <div class="col-12 menu-dot">
                  <img src="@/assets/posts/comments-more.svg" alt="">
                </div>
                <div class="col-12 menu-dot">
                  <img src="@/assets/posts/comments-more.svg" alt="">
                </div>
                <div class="col-12 menu-dot">
                  <img src="@/assets/posts/comments-more.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-pane pane-balance">
          <div class="row">
            <div class="col-4 pr-0 text-right">likes</div>
            <div class="col-6">{{ balance }}</div>
            <div class="col-2"></div>
            <div class="col-4 pr-0 text-right font-purple font-bold">balance</div>
            <div class="col-7">
              <big class="font-purple font-bold">{{ balance }} mōn</big>
              <div>= ${{ balanceUsd }}</div>
              <div class="balance-desc" v-if="isBalanceDescVisible">
                Each Like you receive and give costs at least 0,05$ in Monoreto tokens
              </div>
            </div>
            <div :class="{'col-1 pl-0 text-right align-self-end mb-2': true, 'with-opacity': isBalanceDescVisible}" @click="toggleBalanceDesc">
              <div class="row pseudo-link">
                <div class="col-12 menu-dot">
                  <img src="@/assets/posts/comments-more.svg" alt="">
                </div>
                <div class="col-12 menu-dot">
                  <img src="@/assets/posts/comments-more.svg" alt="">
                </div>
                <div class="col-12 menu-dot">
                  <img src="@/assets/posts/comments-more.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="coins-section">
          <div class="row">
            <div class="col-4 pr-0 text-right">
              transfer balance
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-4">
                  <img class="coin-img" src="@/assets/profile/bitcoin.svg">
                </div>
                <div class="col-4">
                  <img  class="coin-img" src="@/assets/profile/ether.svg">
                </div>
                <div class="col-4">
                  <img class="coin-img" src="@/assets/profile/nem.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" v-if="!isAuthorized">
        <div class="col-12">
          <div class="create-account-block">
            <div class="create-account-block__title">
              <span v-if="!formSubmitted">Create your own account</span>
              <span v-if="formSubmitted">Account was created</span>
            </div>
            <form @submit.prevent="submitForm" v-if="!formSubmitted">
              <input class="form-control create-account-block__input" type="email" placeholder="e-mail" v-model="accEmail">
            </form>
            <div class="create-account-block__subtitle" v-if="formSubmitted">Testing will begin soon.<br/>Stay tuned. :)</div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</template>

<script>
export default {
  name: 'Profile',
  data () {
    return {
      accEmail: '',
      isBalanceDescVisible: false,
      isRankDescVisible: false
    }
  },
  methods: {
    toggleBalanceDesc () {
      this.isBalanceDescVisible = !this.isBalanceDescVisible  
    },
    toggleRankDesc () {
      this.isRankDescVisible = !this.isRankDescVisible  
    },
    submitForm () {
      if (this.validEmail(this.accEmail)) {
        this.$store.commit('setCreateAccFormSubmitted', this.accEmail)
      } else {
        alert('Not a valid E-mail')
      }
    },
    goToPersonal () {
      this.$router.push('/', () => {
        this.$store.commit('setHomeGender', 1)
      })
    },
    validEmail (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  },
  computed: {
    donatedCounter () {
      return this.$store.state.donatedCounter
    },
    investedCounter () {
      return this.$store.state.investedCounter
    },
    likesCounter () {
      return this.$store.state.likesCounter
    },
    formSubmitted () {
      return this.$store.state.createAccFormSubmitted
    },
    balance () {
      return this.$store.state.balance
    },
    balanceUsd () {
      return this.$store.state.balanceUsd.toFixed(2).split('.').join(',')
    },
    isAuthorized () {
      return this.$store.state.jwtToken != null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wrapper {
  z-index: 100;
}

.content {
  border-radius: 21px;
  background-image: radial-gradient(circle at 0 0, #f8838d, #8246fe);
  box-shadow: 0 0 43px 0 #ffffff;
  padding: 55px 25px 45px 25px;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  z-index: 150;
}

.caption {
  font-family: Phenomena;
  width: 64px;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.info-pane {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  font-family: Muller-Medium;
  padding: 15px;
  margin-bottom: .4rem;
}

.avatar-name {
  margin-bottom: .4rem;
}

.avatar-login {
  margin-bottom: .4rem;
  font-family: Muller-Bold;
}

.avatar-status {
  font-family: Muller-Bold;
}

.font-bold {
  font-family: Muller-Bold;
}

.coins-section {
  padding: 15px;
  font-family: Muller-Medium;
  color: white;
}

.create-account-block {
  margin-top: -40px;
  border-radius: 29px;
  background-image: radial-gradient(circle at 50% 0, #ff697c, #5300ff);
  box-shadow: 0 0 90px 0 #ffffff;
  padding: 15px 25px 40px;
  font-family: Muller-Medium;
  color: white;
  font-size: 1.2rem;
}

.create-account-block__title {
  margin-bottom: .3rem;
  font-size: 1.3rem;
}

.create-account-block__subtitle {
  margin-top: 6px;
  font-size: 14px;
  margin-bottom: -10px;
}

.create-account-block__input {
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
}

.create-account-block__input::-webkit-input-placeholder, 
.create-account-block__input::-moz-placeholder,
.create-account-block__input:-ms-input-placeholder,
.create-account-block__input:-moz-placeholder {
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

.coin-img {
   max-height: 30px;
 }

.menu-dot {
  height: 8px;
}

.menu-dot img {
  height: 5px;
}

.pane-rank, .pane-balance {
  font-size: 12px;
}

.with-opacity {
  opacity: 0.7;
}

.stars-img {
  max-height: 12px;
}
</style>
