<template>
  <div class="row">
    <top-investors></top-investors>

    <div class="col-12 col-lg-5">

      <page-under-dev section="Project pages" v-if="isPopupVisible"></page-under-dev>

      <div :class="{'row': true, 'vh--100': isPopupVisible}">
        <div class="col-12">
          <top-investors-mobile></top-investors-mobile>

          <div :class="{'content': true, 'blurred': isPopupVisible}">
            <h5 class="text-center" v-if="feedLine.length === 0">Loading...</h5>
            <div class="post-pane" v-for="feedItem in feedLine" :key="feedItem.id">
              <div class="row post-pane__header">
                <div @click="toggleLike(feedItem)" :class="{'col-8': true}">
                  <div class="post-image">
                    <img :src="`/mono_content/mono_investment/${feedItem.image}`" alt="Post Image">
                    <div v-if="feedItem.liked" class="liked"></div>
                    <transition name="zoomIn">
                      <div class="like-animation" v-if="itemsWithLikeInProgress.indexOf(feedItem.id) !== -1">
                        <img src="@/assets/like.svg" alt="Liked">
                      </div>
                    </transition>
                  </div>
                </div>
                <div class="col-4 pl-0 post-desc" @click="toggleLike(feedItem)">
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/views.svg" alt="Views">
                    </div>
                    <div class="col-8 pl-2 post-desc__text">{{ feedItem.views }}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/likes.svg" alt="Likes">
                    </div>
                    <div class="col-8 pl-2 post-desc__text"><strong>{{ feedItem.likes }}</strong></div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 pr-0 text-center post-desc__img">
                      <img src="@/assets/posts/dollar.svg" alt="Dollar">
                    </div>
                    <div class="col-8 pl-2 post-desc__text">{{ feedItem.invested }}</div>
                  </div>
                  
                  <div class="row">
                    <div class="col-12">
                      <div class="post-desc__graph">
                        <!-- <img src="/mono_content/mono_graph/Group 45 Copy 2.svg" alt="Graph"> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-pane__footer">
                <div class="row">
                  <div class="col-12" @click="toggleLike(feedItem)">
                    <img src="@/assets/posts/statusbar@3x.png" alt="Statusbar" style="width: 100%; height: 9px;">
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-9">
                        <div class="post-pane__footer-author pseudo-link" @click="openPopup">{{ feedItem.username }}</div>
                      </div>
                      <div class="col-3">
                        <div class="post-pane__footer-number">{{ feedItem.profile_views }}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="post-pane__footer-text" @click="toggleLike(feedItem)">{{ feedItem.short_desc }}</div>
                      </div>
                      <div class="col-3">
                        <div class="row align-items-end">
                          <div class="col-12">
                            <div class="post-pane__footer-menu" @click="toggleDesc(feedItem)">
                              <div class="row">
                                <div class="col-12 footer-menu-dot">
                                  <img src="@/assets/posts/comments-more.svg" alt="">
                                </div>
                                <div class="col-12 footer-menu-dot">
                                  <img src="@/assets/posts/comments-more.svg" alt="">
                                </div>
                                <div class="col-12 footer-menu-dot">
                                  <img src="@/assets/posts/comments-more.svg" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <transition name="slide-down">
                      <div class="row" v-if="descOpened.indexOf(feedItem.id) !== -1">
                        <div class="col-12 post-pane__footer-full-text">{{ feedItem.description }}</div>
                      </div>
                    </transition>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <profile></profile>
    <profile-mobile></profile-mobile>
  </div>
</template>

<script>
import TopInvestors from './TopInvestors'
import TopInvestorsMobile from './TopInvestorsMobile'
import Profile from './../shared/Profile'
import ProfileMobile from './../shared/ProfileMobile'
import httpClient from './../../utils/httpClient'
import { isScrolledToBottom } from './../../utils/window'
import PageUnderDev from './../shared/PageUnderDev'

export default {
  name: 'Investement',
  data: function () {
    return {
      likeTimers: [],
      feedLine: [],
      descOpened: [],
      scrolledToBottom: false,
      offsetCounter: 0,
      itemsWithLikeInProgress: []
    }
  },
  components: {
    TopInvestors,
    TopInvestorsMobile,
    Profile,
    ProfileMobile,
    PageUnderDev
  },
  created () {
    this.$store.commit('hidePopup')
    this.$store.commit('mobileHideProfile')
    this.$store.commit('disableLikeFilter', 'investment')
    this.fetchData()
    window.addEventListener('scroll', this.onScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll () {
      this.scrolledToBottom = isScrolledToBottom()
    },
    fetchData (offset = 0, liked = false) {
      const likeStr = liked ? '1' : '0'
      httpClient.get(`/investment?offset=${offset}&liked=${likeStr}`)
      .then(res => {
        if (res.status === 200) {
          this.insertItems(res.data)
        }
      })
      .catch(err => console.error(err))
    },
    insertItems (items) {
      if (this.offsetCounter !== 0) {
        this.feedLine = this.feedLine.concat(items)
      } else {
        this.feedLine = items
      }
    },
    toggleLike (item) {
      if (this.likeTimers.indexOf(item.id) !== -1) {
        const idx = this.feedLine.findIndex(x => x.id === item.id)
        let feedItem = this.feedLine[idx]
        const isLiked = feedItem.liked
        if (isLiked) {
          feedItem.likes = +feedItem.likes - 1
          this.$store.commit('setInvestedCounter', this.$store.state.investedCounter - 1)
        } else {
          feedItem.likes = +feedItem.likes + 1
          this.$store.commit('setInvestedCounter', this.$store.state.investedCounter + 1)
          this.itemsWithLikeInProgress.push(item.id)
          setTimeout(() => { 
            this.itemsWithLikeInProgress.splice(this.itemsWithLikeInProgress.indexOf(item.id), 1)  
          }, 1000)
        }
        feedItem.liked = !isLiked
      } else {
        this.likeTimers.push(item.id)
        setTimeout(() => {
          this.likeTimers.splice(this.likeTimers.indexOf(item.id), 1)
        }, 300)
      }
    },
    toggleDesc (item) {
      const idx = this.descOpened.findIndex(x => x === item.id)
      if (idx !== -1) {
        this.descOpened.splice(idx, 1)
      } else {
        this.descOpened.push(item.id)
      }
    },
    openPopup () {
      this.$store.commit('showPopup')
    }
  },
  watch: {
    scrolledToBottom (newVal) {
      if (newVal) {
        this.offsetCounter += 1
        this.fetchData(this.offsetCounter)
      }
    },
    likedOnly (newVal) {
      this.offsetCounter = 0
      this.fetchData(this.offsetCounter, newVal)
    }
  },
  computed: {
    isPopupVisible () {
      return this.$store.state.isPopupOpened
    },
    likedOnly () {
      return this.$store.state.likeFilter.investment
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
  margin-bottom: 45px;
}

@media (min-width: 992px) { 
  .content {
    padding-top: 45px;
  }  
}

.slide-down-enter-active {
  transition: all .3s ease;
}

.slide-down-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.caption {
  font-family: Phenomena;
  width: 64px;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.post-pane {
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 #ffffff;
  margin-bottom: 10px;
  /* max-height: 298px; */
  overflow: hidden;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.post-pane__header {
  /* height: 190px; */
}

.post-pane__footer {
  /* height: 118px; */
  font-family: Muller-Medium;
  padding: 10px 24px 15px 24px;
}

.last-seen {
  font-family: Muller;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.post-image {
  border-radius: 21px;
   position: relative;
   user-select: none;
}

.post-image > .liked {
    /* background-image: radial-gradient(circle at 50% 8%, #ff5c5c, #5300ff); */
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 7px #5300ff;
    border-radius: 21px;
    top: 0;
    left: 0;
    user-select: none;
}


.post-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 21px;
}

.post-desc {
  padding-top: 20px;
  font-family: Muller-Medium;
}

.post-desc__img {
  height: 24px;
}

.post-desc__img img {
  height: 14px;
}

.post-desc__text {
  padding-top: 2px;
}

.post-desc__graph {
  font-family: Muller-Bold;
  padding-left: -10px;
  margin-left: -20px;
  margin-bottom: 0;
  margin-top: -19px;
}

.footer-menu-dot {
  height: 8px;
}

.footer-menu-dot img {
  height: 5px;
}

.post-pane__footer-author {
  font-family: Muller-Bold;
  font-size: 13px;
  margin-bottom: 4px;
  margin-top: 1px;
}

.post-pane__footer-text {
  font-size: 13px;
  font-family: Muller-Medium;
}

.post-pane__footer-full-text {
  font-size: 11px;
  padding-top: 4px;
}

.post-pane__footer-number {
  font-size: 14px;
  text-align: right;
  font-family: Muller-Medium;
}

.post-pane__footer-menu {
  text-align: right;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-pane {
    max-height: none;
  }

  .post-pane__header {
    height: auto;
  }

  .post-pane__footer-author {
    font-size: 16px;
  }

  .post-pane__footer-text {
    font-size: 13px;
  }

  .post-pane__footer-full-text {
    font-size: 12px;
  }
}

.like-animation {
  position: absolute!important;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-animation > img {
  margin: 0;
  width: 50%;
}

.zoomIn-enter-active {
  animation: zoomIn .5s;
}
.zoomIn-leave-active {
  animation: zoomIn .5s reverse;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
</style>
