<template>
  <div class="d-none d-lg-block col-12 col-lg">
    <div class="content sticky-top">
      <p class="caption">Top investors</p>

      <div v-for="account in accounts" :key="account.id" class="account-pane">
        <div class="row">
          <div class="col-5 image-cell">
            <img :src="account.img" style="max-width: 100%;" class="pseudo-link" @click="goToPersonal">
          </div>
          <div class="col-7 pl-0">
            <div class="stats">
              <table>
                <tr>
                  <td><img src="@/assets/posts/likes.svg" alt="Likes"> <strong class="stats__text">{{ account.likes }}</strong></td>
                  <td class="pl-2">
                    <img src="@/assets/posts/dollar.svg" alt="Likes"> <span class="stats__text">{{ account.sum }}</span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="username">{{ account.name }}</div>
            <div>
              <img src="@/assets/stories/stars-5.svg" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'TopInvestors',
  data: function () {
    return {
      accounts: [
        { id: 11, img: '/mono_content/mono_avatars/20w.jpg', name: 'abbeylaravy', likes: 14232, sum: '1K' },
        { id: 12, img: '/mono_content/mono_avatars/21w.jpg', name: 'sharilacy', likes: 24332, sum: '2K' },
        { id: 13, img: '/mono_content/mono_avatars/22w.jpg', name: 'suzanneboy', likes: 34112, sum: '3K' },
        { id: 14, img: '/mono_content/mono_avatars/23w.jpg', name: 'galeyyazmin', likes: 12973, sum: '1K' },
        { id: 15, img: '/mono_content/mono_avatars/26m.jpg', name: 'tannermaurice', likes: 29643, sum: '2K' },
        { id: 16, img: '/mono_content/mono_avatars/32m.jpg', name: 'richrelya', likes: 36343, sum: '3K' },
        { id: 17, img: '/mono_content/mono_avatars/28m.jpg', name: 'bryanotis', likes: 12986, sum: '1K' },
        { id: 18, img: '/mono_content/mono_avatars/31m.jpg', name: 'jayharper', likes: 26453, sum: '2K' },
        { id: 19, img: '/mono_content/mono_avatars/10m.jpg', name: 'lawrencerich', likes: 26734, sum: '2K' },
        { id: 20, img: '/mono_content/mono_avatars/11m.jpg', name: 'normbishop', likes: 11234, sum: '1K' },
        { id: 21, img: '/mono_content/mono_avatars/18w.jpg', name: 'ronisalina', likes: 14232, sum: '1K' },
        { id: 22, img: '/mono_content/mono_avatars/19m.jpg', name: 'jackcherokee', likes: 14232, sum: '1K' },
        { id: 23, img: '/mono_content/mono_avatars/08m.jpg', name: 'shelbeysyd', likes: 21456, sum: '2K' },
        { id: 24, img: '/mono_content/mono_avatars/45m.jpg', name: 'osborneadair', likes: 36432, sum: '3K' },
        { id: 25, img: '/mono_content/mono_avatars/27m.jpg', name: 'davemadison', likes: 37890, sum: '3K' },
      ]
    }
  },
  methods: {
    openPopup () {
      this.$store.commit('showPopup')
    },
    goToPersonal () {
      this.$router.push('/', () => {
        this.$store.commit('setHomeGender', 1)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 620px;
  border-radius: 29px;
  background-image: radial-gradient(circle at 100% 0, #f8838d, #8246fe);
  box-shadow: 0 0 43px 0 rgba(255, 255, 255, 0.5);
  padding: 55px 25px 25px 25px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}

.caption {
  font-family: Phenomena;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.account-pane {
  padding: 9px 11px;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: .4rem;
}

.stats {
  margin-top: 2px;
  font-family: Muller;
  font-size: 12.4px;
  line-height: 16px;
}

.stats img {
  max-height: 12px;
  margin-top: -4px;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.image-cell {
  /* padding: 0; */
}

.image-cell > img {
  max-height: 74px;
  max-width: 74px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 16px;
}
</style>
