<template>
  <div class="d-none d-lg-block col-12 col-lg">
    <div class="content sticky-top">
      <p class="caption">Top benefactors</p>

      <div v-for="account in accounts" :key="account.id" class="account-pane">
        <div class="row">
          <div class="col-5 image-cell">
            <img :src="account.img" style="max-width: 100%;" class="pseudo-link" @click="goToPersonal">
          </div>
          <div class="col-7 pl-0">
            <div class="stats">
              <table>
                <tr>
                  <td><img src="@/assets/posts/likes.svg" alt="Likes"> <strong class="stats__text">{{ account.likes }}</strong></td>
                  <td class="pl-2">
                    <img src="@/assets/posts/dollar.svg" alt="Likes"> <span class="stats__text">{{ account.sum }}</span>
                  </td>
                </tr>
              </table>
            </div>
            <div class="username">{{ account.name }}</div>
            <div>
              <img src="@/assets/stories/stars-5.svg" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'TopBenefactors',
  data: function () {
    return {
      accounts: [
        { id: 11, img: '/mono_content/mono_avatars/01w.jpg', name: 'katewilson', likes: 27822, sum: '1K' },
        { id: 12, img: '/mono_content/mono_avatars/02m.jpg', name: 'kristaleola', likes: 31836, sum: '2K' },
        { id: 13, img: '/mono_content/mono_avatars/03w.jpg', name: 'elizabethtiana', likes: 17142, sum: '1K' },
        { id: 14, img: '/mono_content/mono_avatars/33w.jpg', name: 'traciejakie', likes: 38740, sum: '3K' },
        { id: 15, img: '/mono_content/mono_avatars/29w.jpg', name: 'joiseelila', likes: 12678, sum: '1K' },
        { id: 16, img: '/mono_content/mono_avatars/25w.jpg', name: 'marianell', likes: 21564, sum: '2K' },
        { id: 17, img: '/mono_content/mono_avatars/24w.jpg', name: 'letaloretta', likes: 14352, sum: '1K' },
        { id: 18, img: '/mono_content/mono_avatars/23w.jpg', name: 'marleensapphire', likes: 8765, sum: '1K' },
        { id: 19, img: '/mono_content/mono_avatars/22w.jpg', name: 'marylinnluna', likes: 19373, sum: '2K' },
        { id: 20, img: '/mono_content/mono_avatars/21w.jpg', name: 'lexiangie', likes: 34871, sum: '3K' },
        { id: 21, img: '/mono_content/mono_avatars/20w.jpg', name: 'zenakylie', likes: 9876, sum: '1K' },
        { id: 22, img: '/mono_content/mono_avatars/19m.jpg', name: 'daveogloe', likes: 17981, sum: '2K' },
        { id: 23, img: '/mono_content/mono_avatars/17w.jpg', name: 'alissarandy', likes: 18261, sum: '2K' },
        { id: 24, img: '/mono_content/mono_avatars/16w.jpg', name: 'patronquille', likes: 14718, sum: '1K' },
        { id: 25, img: '/mono_content/mono_avatars/15w.jpg', name: 'edietoria', likes: 33121, sum: '3K' },
      ]
    }
  },
  methods: {
    openPopup () {
      this.$store.commit('showPopup')
    },
    goToPersonal () {
      this.$router.push('/', () => {
        this.$store.commit('setHomeGender', 0)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 620px;
  border-radius: 29px;
  background-image: radial-gradient(circle at 100% 0, #f8838d, #8246fe);
  box-shadow: 0 0 43px 0 rgba(255, 255, 255, 0.5);
  padding: 55px 25px 25px 25px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}

.caption {
  font-family: Phenomena;
  height: 32px;
  font-family: Phenomena;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.account-pane {
  padding: 9px 11px;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: .4rem;
}

.stats {
  margin-top: 2px;
  font-family: Muller;
  font-size: 12.4px;
  line-height: 16px;
}

.stats img {
  max-height: 12px;
  margin-top: -4px;
}

.username {
  font-family: Muller-Bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

.image-cell {
  /* padding: 0; */
}

.image-cell > img {
  max-height: 74px;
  max-width: 74px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 16px;
}
</style>
