<template>
  <div id="app">
    <notification></notification>
    <notification-mobile></notification-mobile>
    <header-block></header-block>
    <div style="padding-top: 0">
      <div class="main-container">
        <router-view></router-view>
      </div>
    </div>
    <footer-block></footer-block>
  </div>
</template>

<script>
import HeaderBlock from './components/shared/Header'
import FooterBlock from './components/shared/Footer'
import Notification from './components/shared/Notification'
import NotificationMobile from './components/shared/NotificationMobile'
import Swipe from './utils/swipe'

export default {
  name: 'app',
  components: {
    HeaderBlock,
    FooterBlock,
    Notification,
    NotificationMobile
  },
  mounted: function () {
    var vm = this
    var swiper = new Swipe('#app')
    swiper.onLeft(function () {
      var screenWidth = window.innerWidth
        || document.documentElement.clientWidth
        || document.body.clientWidth;
      var screenHeight = window.innerHeight
        || document.documentElement.clientHeight
        || document.body.clientHeight
      if (screenWidth - swiper.xDown < 50 && swiper.yDown > 160
        && (swiper.yDown < (screenHeight - 45))) {
        vm.$store.commit('mobileShowProfile')
      }
    })
    swiper.onRight(function () { 
      vm.$store.commit('mobileHideProfile')
    })
    swiper.run()
  }
}
</script>

<style>

::-webkit-scrollbar {
  display: none;
}

@font-face {
    font-family: Phenomena;
    src: url(assets/fonts/Phenomena/Phenomena-Regular.otf);
}

@font-face {
    font-family: Phenomena-Bold;
    src: url(assets/fonts/Phenomena/Phenomena-Bold.otf);
}

@font-face {
    font-family: Muller;
    src: url(assets/fonts/Muller/Muller-Regular.otf);
}

@font-face {
    font-family: Muller-Medium;
    src: url(assets/fonts/Muller/Muller-Medium.otf);
}

@font-face {
    font-family: Muller-Medium-Italic;
    src: url(assets/fonts/Muller/Muller-Medium-Italic.otf);
}

@font-face {
    font-family: Muller-Bold;
    src: url(assets/fonts/Muller/Muller-Bold.otf);
}

html, body, #app {
  font-size: 14px;
  background-color: #eadfff;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: black;
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
/* .slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
} */
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.font-purple {
  color: #5800FF;
}

.blurred {
  filter: blur(5px);
}

.vh--100 {
  margin-top: -100vh;
}

.pseudo-link {
  cursor: pointer;
}

.main-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) { 
  .main-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}

</style>
